@use "./colors";

@media (min-width: 1200px) {
	.footer {
		background-color: colors.$light-grey;
		&__section {
			&-nav {
				&__box {
					&-title {
						font-size: 16px;
					}
					&-item {
						font-size: 12px;
					}
				}
			}
		}

		&__bottom {
			&-text {
				font-size: 12px;
			}
		}
	}
}

@media (min-width: 1400px) {
	.about-us {
		&__text {
			h3 {
				font-size: 26px;
			}
			p {
				font-size: 18px;
				max-width: 80%;
			}
		}
	}
	.offers {
		h1 {
			font-size: 36px;
		}
		p {
			font-size: 20px;
		}
		&__cards {
			.offers__card {
				height: 450px;
				width: 350px;
				&-title {
					font-size: 28px;
				}
				&-price {
					font-size: 44px;
				}
				&-info-list {
					&-item {
						font-size: 20px;

						.fa-check,
						.fa-minus {
							font-size: 16px;
						}
					}
				}
				&-btn {
					padding: 12px 60px;
					font-size: 20px;
				}
			}
		}
	}
}
