@use "./colors";

@media (min-width: 576px) {
	.offer-page {
		&__card {
			&-img {
				height: 300px;
				width: 80%;
			}
			&-box {
				width: 80%;
			}
		}
	}
	.footer {
		background-color: colors.$light-grey;
		&__section {
			&-logo {
				font-size: 24px;
			}
			&-nav {
				&__box {
					padding: 0 30px;
				}
			}
		}
	}
}
